.btn-outline-secondary{
    border-color: #444 !important;
    background-color: #444 !important;
    color: #FFCB05 !important;
    font-weight: bold !important;
}
.btn-outline-primary{
    border-color: #444 !important;
    background-color: #444 !important;
    color: #FFCB05 !important;
    font-weight: bold !important;
    font-size: 20px;
    padding: 0px 5px;
}
.badge{
    margin-bottom: 2px;
}
.btn-finalizar{
    background-color: #FFCB05 !important;
    color: #444 !important;
    font-size: 20px;
    padding: 0px 5px;
}
.btn-cancelar{
    background-color: #B00 !important;
    color: #FFF !important;
    border-color: #900 !important;
    font-weight: bold !important;
    font-size: 20px;
    padding: 0px 5px;
}
.tabela-campo-documentos{
    width: 115px;
}
.tabela-campo-botoes-acao{
    width: 200px;
}
.btn-documentos{
    font-size: 20px;
    padding: 0px 5px;
}