th{
    background-color: #444 !important;
    color: #FFCB05 !important;
}
.tabela-campo-anotacoes{
    width: 33%;
}
.tabela-campo-botoes-acao{
    width: 200px;
}
button{
    border-color: #444 !important;
    background-color: #444 !important;
    color: #FFCB05 !important;
    font-weight: bold !important;
}
.btn-outline-primary{
    border-color: #444 !important;
    background-color: #444 !important;
    color: #FFCB05 !important;
    font-weight: bold !important;
}
.btn-close{
    background-color: #FFF !important;
}
.page-link {
    color: #444 !important;
    border-color: #444 !important;
}
.page-link:hover {
    background-color: #444 !important;
    color: #FFCB05 !important;
}
.page-item.active .page-link {
    color: #FFCB05 !important;
    background-color: #444 !important;
    border-color: #444 !important;
    font-weight: bold;
}