th{
    background-color: #444 !important;
    color: #FFCB05 !important;
}
.tabela-campo-anotacoes{
    width: 33%;
}
.tabela-campo-botoes-acao{
    width: 240px;
}
button{
    border-color: #444 !important;
    background-color: #444 !important;
    color: #FFCB05 !important;
    font-weight: bold !important;
}
.btn-outline-primary{
    border-color: #444 !important;
    background-color: #444 !important;
    color: #FFCB05 !important;
    font-weight: bold !important;
}
.btn-admissao{
    background-color: #FFCB05 !important;
    color: #444 !important;
    font-size: 20px;
    padding: 0px 5px;
}
.btn-close{
    background-color: #FFF !important;
}
.page-link {
    color: #444 !important;
    border-color: #444 !important;
}
.page-link:hover {
    background-color: #444 !important;
    color: #FFCB05 !important;
}
.page-item.active .page-link {
    color: #FFCB05 !important;
    background-color: #444 !important;
    border-color: #444 !important;
    font-weight: bold;
}
#listaTagsAtuais i{
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
}