/* Paleta de cores do site 
Fundo: #FFF
Fonte: #000
Bordas: #444
Cinza: #939598
Detalhes: #FFCB05
*/

body {
    background-color: #FFF;
    height: 100vh;
    font-family: 'Century Gothic', sans-serif;
}