/* Paleta de cores do site 
Fundo: #FFF
Fonte: #000
Bordas: #444
Cinza: #939598
Detalhes: #FFCB05
*/

body {
    background-color: #939598;
    height: 100vh;
    font-family: 'Century Gothic', sans-serif;
}
h1, h2{
    color: white;
    font-weight: bold;
}
.btn-primary {
    background-color: #FFCB05 !important;
    color: #444 !important;
    border-color: #444 !important;
    font-weight: bold !important;
}
.btn-breadcrumb{
    background-color: #FFF !important;
    color: #444 !important;
    border-color: #444 !important;
    font-weight: bold !important;
}
.bt-submit-forms{
    float: right;
}
.bt-submit-forms button{
    width: fit-content;
}
.form-control:focus, .form-select:focus {
    border-color: #444 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 203, 5, 0.5) !important;
}
.form-control::file-selector-button {
    background-color: #444 !important;
    color: #FFF !important;
}
.form-control:hover::file-selector-button {
    background-color: #333 !important;
}