body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    max-width: 420px;
    width: 100%;
    padding: 15px;
}
.card {
    background-color: #939598;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    color: #000;
}
.card-header {
    background-color: #444 ;
    border-bottom: none;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 12px 12px 0 0 !important;
}
.card-header .text-primary{
    color: #FFCB05 !important;
}
.btn-primary {
    padding: 10px;
    font-weight: 600;
    background-color: #FFCB05 !important;
    color: #444 !important;
    border-color: #444 !important;
}