.btn-delete{
    background-color: #B00 !important;
    color: #FFF !important;
    border-color: #900 !important;
    font-weight: bold !important;
    font-size: 20px;
    padding: 0px 5px;
}
.btn-reset, .btn-perfil{
    font-size: 20px;
    padding: 0px 5px;
}